<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/">PUBLICLE</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">  
		      <li class="nav-item active">
            <a class="nav-link" href="/"> Home </a>
          </li>
		      <li class="nav-item active">
            <a class="nav-link" href="/articles"> Articles </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/musics"> Musics </a>
          </li>
        </ul>
		    <ul class="navbar-nav ml-auto">
		    {% if session["logged_in"] and session["username"]=="admin" %}
		    	<li class="nav-item active">
            <a class="nav-link" href="/admindashboard"> Dashboard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/logout"> Log out</a>
          </li>
          {% elif session["logged_in"] %}
          <li class="nav-item active">
            <a class="nav-link" href="/userdashboard"> Dashboard</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/logout"> Log out</a>
          </li>
          {% else %}
          <li class="nav-item active">
            <a class="nav-link" href="/login"> Login</a>
          </li>
          <li class="nav-item active">
              <a class="nav-link" href="/register"> Register</a>
          </li>
        {% endif %}    
        </ul>
      </div>	
</nav>